.home{
    display: flex;
    
    flex-direction: column;
    align-items: center;
}

.header {
    position: relative;
    z-index: 2;
  }
  
  .restaurant-tag-card {
    position: relative;
    z-index: 1;
  }